/* 全局color变量 */
// ui设计限定
$g-white-color: #ffffff; // 系统白色
$g-background-gray-color: #f6f6f6; // 系统灰背景色

$g-blue-color: #388cff; // primary color
$g-red-color: #ff4d4f;
$g-yellow-color: #ffeb3b;
$g-green-color: #388e3c;
